<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>超市管理系统</title>

  <!-- Bootstrap Core CSS -->
  <link href="{{ url_for('static', filename='dist/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom Fonts -->
  
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
 

  <!-- Custom CSS -->
  <link href="{{ url_for('static', filename='dist/css/stylish-portfolio.min.css') }}" rel="stylesheet">

</head>

<body id="page-top">


  <!-- Header -->
  <header class="masthead d-flex">
    <div class="container text-center my-auto">
      <h1 class="mb-1">超市管理系统</h1>
      <h3 class="mb-5">
          <br>  <!-- 换行用于占位 -->
      </h3>
      <a class="btn btn-primary btn-xl js-scroll-trigger" href="{{ url_for('auth.login') }}">立 即 体 验</a>
    </div>
    <div class="overlay"></div>
  </header>

  
 

</body>

</html>
